*{
    box-sizing:border-box ;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #313131;
    background-image: url(/img/495876.jpg);
    margin-left : auto;
    margin-right : auto;
    /* display: flex; */
    background: cover;
}

.slider {
    position: relative;
    width: 650px;
    height: 400px; ;
    background-color: crimson;
    /* background : url(/img/family.jpg); */
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(83, 0, 42);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    /* margin: 50px auto; */
    left : 650px;
    bottom: 60 px;
    animation: slide 10s infinite ;
}

@keyframes slide {
    15%{
        background : url(/img/family.jpg);
    }
    25%{
        background : url(/img/chinook.jpg);
    }
    40%{
        background : url(/img/cutter.jpeg);
    }
    60%{
        background : url(/img/frosted-cookie.jpg);
    }
    80%{
        background : url(/img/fish.jpg);
    }
    100%{
        background : url(/img/shirt.jpg);
    }
}

header {
    background-color: rgb(255, 255, 255);
    height: 60px;
    margin-top: 0%;
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}


header div img {

    width:100px;
    height:50px;
    border-radius: 50%;
    margin-left: 260px;
}

#lablename {
    position: relative; 
    bottom: 62px;
    font-family: cursive;
    font-size: 20px;
    color: rgb(189, 189, 189);
    left: 10px;
}

.linklist {
    position: relative;
    float: right;
}

#listplace {
    position: relative;
bottom: 120px;
right: 20px;

}

.arrange {
    display: inline;
    margin :10px ; 
    
}

.anker {
position: relative;

    display: inline;
    text-decoration: none;

}


#salmontext{
    position: relative;
    left: 30px;
    top: 0px;
    font-size: 130px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: rgb(255, 255, 255);
}
#cookiestext{
    position: relative;
    width: 130px;
    left: 30px;
    bottom: 200px;
    font-size: 145px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: rgb(255, 255, 255);
}

#info{
    position: relative;
    width: 120px;
    height: 40px;
    
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 79px;
    margin-top: -18%;
}
.info .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;}
    
    .info .box .icon {
        position: relative;
        width: 80px;
        height: 80px;
        color: #fff;
        background: #000;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 40px;
        font-weight: 700;
        transition: 1s;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .info .box {
        position: relative;
        width: 350px;
        padding: 40px;
        background: #fff;
        box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
        border-radius: 4px;
        margin: 20px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }   

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(61, 9, 0);
        color: white;
        text-align: center;
        padding: 2%;
      }